<nav class="site-nav">
  <h3>Collections</h3>
  <ul>
    {%- for coll in site.collections -%}
      {%- unless coll.label == 'posts' -%}
        <li>
          <strong>{{ coll.label }}</strong>
          <ul>
            {%- assign docs = coll.docs | sort: 'basename' -%}
            {%- for doc in docs -%}
              <li><a href="{{ doc.url | relative_url }}">{{ doc.title | default: doc.basename }}</a></li>
            {%- endfor -%}
          </ul>
        </li>
      {%- endunless -%}
    {%- endfor -%}
  </ul>

  <h3>Pages</h3>
  <ul>
    {%- for p in site.pages -%}
      {%- unless p.url == '/' or p.name == '404.html' or p.nav_exclude == true -%}
        {%- if p.title -%}
          <li><a href="{{ p.url | relative_url }}">{{ p.title }}</a></li>
        {%- endif -%}
      {%- endunless -%}
    {%- endfor -%}
  </ul>
</nav>
